<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>



<typeAliases >
	<typeAlias type="java.lang.String" alias="String"/>
	<typeAlias type="java.lang.Integer" alias="Integer"/>
	<typeAlias type="java.lang.Long" alias="Long"/>
	<typeAlias type="java.util.List" alias="List"/>
	<typeAlias type="cn.gx.entity.User" alias="User"/>
	<typeAlias type="cn.gx.entity.Warning" alias="Warning"/>
    <typeAlias type="cn.gx.entity.Reply" alias="Reply"/>
    <typeAlias type="cn.gx.entity.Demand" alias="Demand"/>
	<typeAlias type="cn.gx.entity.Event" alias="Event"/>
	<typeAlias type="cn.gx.entity.Role" alias="Role"/>
	<typeAlias type="cn.gx.entity.Privilege" alias="Privilege"/>
	<typeAlias type="cn.gx.entity.Department" alias="Department"/>
	<typeAlias type="cn.gx.entity.Project" alias="Project"/>
	<typeAlias type="cn.gx.entity.Comment" alias="Comment"/>
</typeAliases>

</configuration>
